:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(30, 28, 28);
    --third-color: rgb(228, 228, 228);
}
.dark {
    --primary-color: rgb(30, 28, 28);
    --secondary-color: rgb(255, 255, 255);
    --third-color: rgb(77, 74, 74);
   }

