p{
    
    margin-top: 0;
    margin-bottom: 0;
}
body{
    font-family: roboto, arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(250, 250, 250);
}
a{
    text-decoration: none;
    
}
